* {margin: 0; padding: 0;}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.game {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: #000;
	background-image: url(/img/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

	.game .header {
		height: 20vmin;
		width: 80vmin;
		font-size: 10vmin;
		box-sizing: border-box;
		border-bottom: 1px solid black;
	}

	.game .field {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 80vmin;
		width: 80vmin;
	}

		.game .field .cell {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 18vmin;
			width: 18vmin;
			margin: 1vmin;
			box-sizing: border-box;
			border: 2px solid green;
			border-radius: 2vmin;
			font-size: 10vmin;
			background-image: none;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			color: transparent;
			transition: background-image 0.2s ease-in-out, height 0.2s, width 0.2s, margin 0.2s;
		}

		.game .field .cell.hightlight {
			height: 20vmin;
			width: 20vmin;
			margin: 0;
		}

		@keyframes hide {
			from {opacity: 1;}
			to {opacity: 0;}
		}

		.game .field .cell.animate {
			position: absolute;
			margin: 0;
			transition: left 0.2s, top 0.2s;
			z-index: -1;
			animation-name: hide;
			animation-duration: 0.2s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}

		.game .field .cell[data-ship="2"] {
			background-image: url(/img/units/gammadrone.png);
		}

		.game .field .cell[data-ship="4"] {
			background-image: url(/img/units/wasp.png);
		}

		.game .field .cell[data-ship="8"] {
			background-image: url(/img/units/mirage.png);
		}

		.game .field .cell[data-ship="16"] {
			background-image: url(/img/units/truckc.png);
		}

		.game .field .cell[data-ship="32"] {
			background-image: url(/img/units/frigate.png);
		}

		.game .field .cell[data-ship="64"] {
			background-image: url(/img/units/cruiser.png);
		}

		.game .field .cell[data-ship="128"] {
			background-image: url(/img/units/battleship.png);
		}

		.game .field .cell[data-ship="256"] {
			background-image: url(/img/units/carrier.png);
		}

		.game .field .cell[data-ship="512"] {
			background-image: url(/img/units/dreadnought.png);
		}

		.game .field .cell[data-ship="1024"] {
			background-image: url(/img/units/railgun.png);
		}

		.game .field .cell[data-ship="2048"] {
			background-image: url(/img/units/reaper.png);
		}

		.game .field .cell[data-ship="4096"] {
			background-image: url(/img/units/flagship.png);
		}